<div class="header-container">
    <div class="container">
        <div class="header-content">
            <div class="logo-container">
                <img src="~/Content/olgado/img/olgado-logotipo-01.png" class="logo" />
            </div>
        </div>
    </div>
</div>