<div class="header-container">
    <div class="container">
        <div class="header-content">
            <div class="logo-container">
                <img src="~/Content/olgado/img/olgado-logotipo-02.png" class="logo" />
            </div>
            <div class="ads-button-container">
                <a class="waves-effect waves-light btn">Anunciar</a>
            </div>
        </div>
    </div>
</div>