<div class="header-container">
    <div class="container">
        <div class="header-content">
            <div class="logo-container">
                <img src="~/Content/olgado/img/olgado-logotipo-01.png" class="logo" />
            </div>
            <div class="search=container">
                <div class="input-field col s6">
                    <input id="search" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>