<div class="search-container">
    <div class="container">
        <div class="search-content">
            <div class="input-field col s12">
                <input id="search" type="text" placeholder="O que você procura?" />
            </div>
        </div>
    </div>
</div>
