* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body select {
    display: flex;
}

body .container {
    margin: 0 auto;
    width: 86%;
}

@media only screen and (min-width: 425px) {
    .wrapper-container {
        margin: 0 auto;
        width: 425px !important;
    }
}

@media only screen and (max-width: 425px) {
    .wrapper-container {
        width: 100% !important;
    }
}